#cardbody{
    width: 18rem;
    height: 20rem;
    margin: 0 10px;
    background-color: #7FD1D3;
    box-shadow: 10px 10px rgba(57, 56, 56, 0.2);
}
.cardtext{
    padding: 20px 10px;
    font-family: 'Balsamiq Sans';
    font-size: 18px;
    color: #003169;
}