
.navlayer{
    background: hsla(0, 0%, 100%, 0.70);
}    

.navtext{
    padding: 0px 15px;
    font-family: 'Balsamiq Sans';
    font-size: 21px;
    text-decoration: none;
    color: black;
}
.navtext:hover{
    color: #8266FF;
}

#navdrop{
    color: black;
    background-color: transparent;
}

#navdrop:hover{
    color: #8266FF;
}

.navtext2{
    display: block;
    padding: 0px 15px;
    font-family: 'Balsamiq Sans';
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.navtext2:hover{
    color: #8266FF;
}

.logbtn{
    background-color: #8266FF;
    border-radius: 10px;
    padding: 0px 15px;
    font-family: 'Balsamiq Sans';
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.regbtn{
    background-color: #BAFFFF;
    border-radius: 10px;
    padding: 0px 15px;
    font-family: 'Balsamiq Sans';
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.regbtn:hover,.logbtn:hover{
    opacity: 80%;
}