.title-artikel {
  font-family: 'Balsamiq Sans';
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.01em;
  color: #000000;
}

.body-artikel {
  padding: 0 100px;
}

.line-title {
  border-style: solid;
  border-width: 2px 0;
  border-color: #000000;
  margin-top: 135px;
  padding: 30px 0;
}

.subtitle-artikel {
  font-family: 'Balsamiq Sans';
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.01em;
  color: #000000;
  padding: 30px 0;
}

.text-artikel {
  border-style: solid;
  border-width: 2px 0;
  border-color: #000000;
  padding: 20px 0;
  margin: 10px 0;
}

.text-artikel p {
  font-family: 'Balsamiq Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  letter-spacing: 0.01em;
  color: #000000;
}

.text-artikel h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.text-artikel h6 {
  font-weight: 700;
  font-size: 16px;
}

.list-cardartikel h3 {
  font-family: 'Balsamiq Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 30px 0;
}