.bgkarir {
    position: absolute;
    object-fit: cover;
    margin-top: 10px;
    width: 100%;
    z-index: -10;
    top: 0;
}

.titlekarir {
    text-align: center;
    font-family: 'Balsamiq Sans';
    font-size: 50px;
    font-weight: bold;
    margin-top: 200px;
}

.quoteskarir {
    text-align: center;
    font-family: 'Balsamiq Sans';
    font-size: 20px;
}

.card-dokter{
    margin-top: 140px;
    margin-bottom: 50px;
}

.subtitle-karir {
    font-family: 'Balsamiq Sans';
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-left: 10px;
}