#container-success{
    background-color: rgb(130, 102, 255, 0.8);
    margin-top: 140px;
    height: 500px;
    border-radius:50px ;
}

.bodysuccess{
    padding-top: 120px;
    display: flex;
    justify-content: center;
    
}

.titlesuccess{
    color: white;
    font-family: 'Balsamiq Sans';
    font-size: 40px;
    font-weight: bold;
}

.textlog{
    text-decoration: none;
}

#loginbtn2{
    justify-content: center;
    background-color: #DDF3F3;
    border-color: #DDF3F3;
    color: #357477;
    font-family: 'Balsamiq Sans';
    font-size: 20px;
    font-weight: bold;
}

#loginbtn2:hover{
    opacity: 80%;
}